<ng-container *ngIf="steamService.readyToRumble()">
  <div class="scores">
    <div class="vertical">
      <div>
        <div class="display" [style.background]="'#ec44ca'" [style.color]="'white'">
          <div class="name">
            Task Name
          </div>
          <div class="progress-bar">
            <div class="score previous-score">
            </div>
            <div class="score current-score">
              Score
            </div>
            <div class="score final-score">
            </div>
          </div>
        </div>
        <div class="display" style="height: 5px; padding-top: 0px; padding-bottom: 0px;" [style.background]="'black'"
          [style.color]="'white'">
        </div>
        <ng-container *ngFor="let mapping of idMappings.keys()">
          <div class="display" [style.background]="getRankColor(getRank(mapping))">
            <div class="name">
              {{mapping}}
            </div>
            <div class="progress-bar" [style.background]="getProgressBar(mapping)">
              <div class="score previous-score">
                {{getPreviousScore(mapping)}}
              </div>
              <div class="score current-score">
                {{getScore(mapping)}}
              </div>
              <div class="score final-score">
                {{getNextScore(mapping)}}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
