<ng-container *ngIf="steamService.readyToRumble()">
  <div class="scores">
    <div class="vertical">
      <div>
        <div class="display" [style.background]="'#ec44ca'" [style.color]="'white'">
          <div class="name">
            Task Name
          </div>
          <div class="score">
            Score
          </div>
        </div>
        <div class="display" style="height: 5px; padding-top: 0px; padding-bottom: 0px;" [style.background]="'black'" [style.color]="'white'">
          </div>
        <ng-container *ngFor="let mapping of idMappings.keys()">
          <div class="display" [style.background]="getRankColor(getRank(mapping))">
            <div class="name">
              {{mapping}}
            </div>
            <div class="score">
              {{getScore(mapping)}}/{{getNextScore(mapping)}}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
